# Virtual Environment
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.py[cod]
*.pyo

# macOS
.DS_Store

# IDE
# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
.idea/

# Test & Coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log
